<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="connectionString_ADO" connectionString="Data Source=TANIAHOLUB\MSSQLSERVER07;Initial Catalog=DPGI2;Integrated Security=True" />
	<add name="DPGI2Entities" connectionString="metadata=res://*/ClientDirectoryModel.csdl|res://*/ClientDirectoryModel.ssdl|res://*/ClientDirectoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=taniaholub\MSSQLSERVER07;initial catalog=DPGI2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
